@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

:root {
    --brand:        #EF233C;
    --brand-dark:   #D90429;
    --brand-indigo: #2B2D42;
    --brand-grey:   #8D99AE;
    --brand-bg:     #EDF2F4;
}
